@{
    ViewData["Title"] = "Crear";
}
@model Ownership

<h1>Create</h1>

<h4>Ownership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input type="text" id="user-search" class="form-control" placeholder="Buscar por nombre de usuario">
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>

            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input type="text" id="book-search" class="form-control" placeholder="Buscar por título de libro">
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.Books"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Ownerships">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        // Función para buscar usuarios
        $("#user-search").on("keyup", function () {
            var query = $(this).val();
            $.ajax({
                url: "/Users/Search", // Reemplaza con la URL correcta
                data: { query: query },
                success: function (data) {
                    // Actualiza la lista de usuarios con los resultados de la búsqueda
                    var options = "";
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $("#UserId").html(options);
                    $("#UserId").prop("disabled", false);
                }
            });
        });

        // Función para buscar libros
        $("#book-search").on("keyup", function () {
            var query = $(this).val();
            $.ajax({
                url: "/Books/Search", // Reemplaza con la URL correcta
                data: { query: query },
                success: function (data) {
                    // Actualiza la lista de libros con los resultados de la búsqueda
                    var options = "";
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $("#BookId").html(options);
                    $("#BookId").prop("disabled", false);
                }
            });
        });
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
